@import "../abstracts/variables";
@import "../abstracts/mixins";

.contenido-estatico {
  padding: 30px 30px;
  .titulo {
    padding: 0px 0px 15px;
    font-weight: 700;
    font-size: 2rem;
  }
  .bloque{
    padding-bottom: 30px;
    margin-bottom: 30px;
    @include grid(grid,1fr);
    @include border(1px, solid, #ccc);
    div{
        margin-bottom: 15px;
    }
    div:last-child{
        margin-bottom: 0px;
    }
    .texto{
        .subtitulo{
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
  }
  .bloque:last-child{
    margin-bottom: 0px;
    border-bottom: 0px solid #ccc;
  }
}

