@import "../abstracts/variables";
@import "../abstracts/mixins";

.productos-container {
  @include grid(grid, 1fr);
  padding-bottom: 30px;
  aside {
    margin: 30px;
    .aside-active--green {
      background-color: $bg-tertiary-color;
      color: $bg-primary-color;
      border-color: $bg-tertiary-color;
    }
  }
  .productos-group {
    @include grid(grid, 1fr);
    .productos-items {
      margin: 30px;
      padding: 30px;
      /*background-color: $bg-quaternary-color;*/
      //@include border(0px, solid, #ccc);
      border-bottom: 1px, solid, #ccc;
      .imagen {
        width: 100%;
      }
      .link {
        padding: 8px 15px;
        color: $bg-primary-color;
        background-color: $bg-tertiary-color;
        font-size: 600;
        text-decoration: none;
      }
    }
  }
}

.bt-active--green {
  background-color: #003d12;
  color: #fff;
  border-color: #003d12;
}
.bt-active--green:hover {
  background-color: #003d12;
  color: #fff;
  border-color: #003d12;
}
