@import '../abstracts/variables';
@import '../abstracts/mixins';

.header {
    background-color: $bg-primary-color;
    @include grid(grid, 1fr);
    padding: 25px 0px 0px;
    align-items: center;
    .logo{
        text-align: center;
        margin-bottom: 20px;
    }
    .navigation{
        background-color: $bg-secondary-color;
        padding: 8px 0px;
    }
    a{
        color: $font-link-color;
        text-decoration: none;
        padding: 8px 0px;
        display: block;
        font-weight: 600;
    }
    .button{
        background-color: $bg-tertiary-color;
        color: $font-color-reverse;
        font-weight: 600;
    }
  }