$font-family: "Roboto", serif;
/* Colores de Backgrounds */
$bg-primary-color: #fff;
$bg-secondary-color: #ebebeb;
$bg-tertiary-color: #003d12;
$bg-quaternary-color: #e2e2e2;
$bg-quinary-color: #e6e6e6;
/* Font colors */
$font-color-reverse: #fff;
$font-link-color: #003d12;